/**
 * ------------------------------------------------------------
 * CODE - 2016-04-30
 * https://github.com/mkkeck/jquery-ui-icons
 * Copyright: 2015-2016 Michael Keck
 * Licensed:  GPL; http://www.gnu.org/licenses/gpl.html
 * ------------------------------------------------------------
 */

.prism,
.prism code,
.prism.line-numbers
.prism.line-numbers .line-numbers-rows {
  line-height: normal;
}
.prism,
.prism .line-numbers-rows {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.prism {
  background: #eee;
  margin: 0.5em 0;
  overflow: auto;
  padding: 0.5em;
}

.prism *::-moz-selection {
  background: #ddd;
}
.prism *::selection {
  background: #ddd;
}

.prism code {
  background: none;
  color: #333;
  hyphens: none;
  tab-size: 2;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-hyphens: none;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  -ms-hyphens: none;
  -webkit-hyphens: none;
}

.prism.line-numbers {
  counter-reset: linenumber;
  padding-left: 3.8em;
}
.prism.line-numbers > code {
  position: relative;
}
.prism.line-numbers .line-numbers-rows {
  background-color: #007fff;
  border-right: 5px solid #eee;
  color: #f5f5f5;
  left: -4em;
  letter-spacing: -1px;
  margin-top: -1px;
  padding: 0.5em 0;
  position: absolute;
  pointer-events: none;
  top: -0.5em;
  user-select: none;
  width: 3.8em; /* works for line-numbers below 1000 lines */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.prism.line-numbers .line-numbers-rows > span {
  counter-increment: linenumber;
  display: block;
  pointer-events: none;
}
.prism.line-numbers .line-numbers-rows > span:before {
  color: #eee;
  content: counter(linenumber);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* Colors */
.prism .namespace {
  opacity: 0.7;
}
.prism .token.comment,
.prism .token.prolog,
.prism .token.doctype,
.prism .token.cdata {
  color: #808080;
}
.prism .token.punctuation {
  color: #999;
}
.prism .token.property,
.prism .token.tag,
.prism .token.boolean,
.prism .token.number,
.prism .token.constant,
.prism .token.symbol,
.prism .token.deleted {
  color: #905;
}
.prism .token.selector,
.prism .token.attr-name,
.prism .token.string,
.prism .token.char,
.prism .token.builtin,
.prism .token.inserted {
  color: #690;
}
.prism .token.operator,
.prism .token.entity,
.prism .token.url,
.prism .language-css .token.string,
.prism .style .token.string {
  color: #a67f59;
}
.prism .token.atrule,
.prism .token.attr-value,
.prism .token.keyword {
  color: #007fff;
}
.prism .token.function {
  color: #dd4a68;
}
.prism .token.regex,
.prism .token.important,
.prism .token.variable {
  color: #e90;
}
.prism .token.important,
.prism .token.bold {
  font-weight: bold;
}
.prism .token.italic {
  font-style: italic;
}

/* Fallback: Old MSIE and no-js */
.lt-ie9 .prism, .lt-ie9 .prism code,
.js-off .prism, .no-js .prism code {
  background: #eee;
  color: #222;
  overflow-x: auto;
}
.lt-ie9 .prism.line-numbers .line-numbers-rows,
.js-off .prism.line-numbers .line-numbers-rows {
  display: block;
}
.lt-ie9 .prism.line-numbers,
.js-off .prism.line-numbers {
  border-left: 3px solid #007fff;
  padding-left: 0.5em;
}
