/**
 * ------------------------------------------------------------
 * MEDIA queries - 2016-04-30
 * https://github.com/mkkeck/jquery-ui-icons
 * Copyright: 2015-2016 Michael Keck
 * Licensed:  GPL; http://www.gnu.org/licenses/gpl.html
 * ------------------------------------------------------------
 */


/*
 * SCREEN
 */

@media screen and (min-width: 660px) {
  #head .badge {
    display: block;
  }
  #head.has-badge .nav-main {
    margin-right: 50px;
  }
}

@media screen and (min-width: 760px) {
  #head.has-badge .nav-main {
    margin-right: 0;
  }
}

@media screen and (max-height: 579px) {
  .ui-themeswitch .ui-selectmenu-open,
  .ui-themeswitch .ui-selectmenu-open .ui-menu {
    box-sizing: border-box;
    height: 100%;
    max-height: none;
    min-height: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .ui-themeswitch .ui-selectmenu-open {
    padding-top: 35px;
    position: fixed;
    top: 0 !important;
    z-index: 999;
  }
  .ui-themeswitch .ui-selectmenu-open .ui-selectmenu-overlay {
    display: block;
    padding: 35px 20px;
    left: -20px;
    top: -20px;
  }
  .ui-themeswitch .ui-selectmenu-open .ui-selectmenu-overlay .ui-button-close {
    display: block;
    right: 20px;
    top: 25px;
  }
}

@media screen and (max-height: 479px) {
  #head .badge { display: none; }
  #head.has-badge .nav-main { margin-right: 0; }
  #head .wrapper { padding-bottom: 0.5em; padding-top: 0.5em; }
  #head .head-hl-1 { font-size: 1.5em; }
  #head .head-hl-2 { font-size: 0.9em; }
}

@media screen and (max-width: 639px) {
  #head .head-hl-1 { font-size: 1.6em; }
  #head .head-hl-2 { display: none; }
  #head .nav-main  { right: 10px; }
  #head .wrapper   { padding: 10px; }
  #main .section {
    margin-top: -2em;
    padding-top: 4em;
  }
  #main .section:first-child {
    margin-top: 0;
  }
  .foot .terms {
    border-top: 1px solid #007fff;
    clear: both;
    display: block;
    float: none;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    position: static;
    text-align: left;
    width: 100%;
  }
  .foot .nav {
    padding-bottom: 10px;
    width: 48%;
  }
}
@media screen and (max-width: 580px) {
  .icon-widget .form,
  .icon-widget .view {
    clear: both;
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .icon-widget .view {
    border-top: 1px solid #c5c5c5;
    margin-top: 1em;
    padding-top: 1em;
  }
  .icon-widget .view .view-icon {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 520px) {
  #head {
    border-bottom: 0 none;
  }
  .foot .nav,
  .foot .scroll,
  .foot .toggle,
  #head .nav-main { display: none; }
  #head .nav-mobile { display: block; }

  .foot .terms {
    border: 0 none;
    margin: 0;
    padding: 0;
  }

  .icon-table-cell {
    display: table-cell;
    padding: 0.4em 0.8em;
  }

  .js-off body { padding-top: 62px; }
  .js-off #browser-error { height: 60px; }
  .js-off #head .nav a {
    border: 1px solid #111;
    border-radius: 0;
    display: block;
    margin: -1px 0 0 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  .js-off #head .nav-main,
  .js-off #head .nav-main ul,
  .js-off #head .nav-main li {
    clear: both;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .js-off #head .nav-main {
    margin: 10px auto 10px auto;
    overflow: visible;
    position: static;
  }
  .js-off .foot .nav {
    clear: both;
    display: block;
    float: none;
    position: static;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  .js-off .foot .scroll {
    display: block;
  }
  .js-off .foot .terms {
    border-top: 1px solid #007fff;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
  }

}

@media screen and (max-width: 420px) {
  .base,
  .demo,
  .wrapper {
    padding: 10px;
  }
}

